#myFixedItemHolder .title {
    font-size: 2em;
    font-weight: bolder;
}

#myFixedItemHolder .itemWrapper {
    position: relative;
}

#myFixedItemHolder .price {
    font-size: 2em;
    /*float: right;*/
}

#myFixedItemHolder .notification {
    font-size: 1.5em;
    /*float: right;*/
}

.send {
		clear: both;
		background-color: white;
}