body {
    background-color: grey;
    /*display: inline-block;*/
    text-align: center;
}

h1 {
    color: white;
}

.preLogin {}

.nav .postLogin {
    display: none;
}

#Invalid_Credential_Input {
    display: none;
}

.send {
		clear: both;
		color: orange;
		font-style: bold;
		background-color: white;
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 2.5px;
		padding-bottom: 2.5px;
}